@media (min-width: 1200px) {
  .dumi-default-header-content,
  .dumi-default-hero,
  .dumi-default-features {
    max-width: 1820px;
  }

  .dumi-default-doc-layout > main {
    max-width: 1820px;
  }

  .dumi-default-doc-layout > main > article {
    max-width: 1820px;
  }

  .dumi-default-content {
    max-width: 1820px;
  }

  .dumi-default-content .dumi-default-previewer,
  .dumi-default-content .dumi-default-source-code,
  .dumi-default-content table {
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .dumi-default-doc-layout > main {
    padding-inline: 48px;
  }

  .dumi-default-content .dumi-default-previewer {
    margin-block: 28px;
  }
}

.dumi-default-header-left {
  width: 240px;
}

.dumi-default-sidebar {
  width: 240px;
}

.dumi-default-hero-title > span {
    color: transparent;
    text-shadow: 0 10px 20px rgba(238, 221, 145, 0.15);
    background: linear-gradient(30deg, #DED3BA 30%, #C5A267);
    -webkit-background-clip: text;
    background-clip: text;
}

.dumi-default-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
